<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/educacionit</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">dcd16cP_</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>

        <mapping class="com.research24x7.hibernate.beginners.entity.Employee" />
        <mapping class="com.research24x7.hibernate.beginners.entity.CompanyAnnotation"  />
        <mapping class="com.research24x7.hibernate.beginners.entity.CountryAnnotation"  />
        <mapping class="com.research24x7.hibernate.beginners.entity.ProductAnnotation"  />
        <mapping class="com.research24x7.hibernate.beginners.entity.ProductTypeAnnotation"   />
        <mapping class="com.research24x7.hibernate.beginners.entity.ProductDetailAnnotation" />
        <mapping class="com.research24x7.hibernate.beginners.entity.StudentAnnotation"  />
        <mapping class="com.research24x7.hibernate.beginners.entity.MeetingAnnotation"  />
        <mapping class="com.research24x7.hibernate.beginners.entity.CategoryAnnotation" />

	</session-factory>

</hibernate-configuration>